/* a {
  color: black;
  text-decoration: none;
} */

.myCard {
  width: 280px;
  height: 31rem;
  margin: 1rem;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  margin-top: 5%;
  align-items: center;
  text-align: center;
  border-radius: 7px;
}

.card-img {
  position: relative;
  width: 260px;
}

.myCard:hover {
  transform: translateY(-15px);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card {
  height: 31rem;
  height: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 7px;
}

.card img {
  height: 270px;
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 300px;
}

.product-info {
  padding: 1rem;
}

.card-title {
  color: black;
  text-decoration: none;
}

.in-cart {
  background-color: limegreen;
  padding: 5px;
  border-radius: 5px;
}

.card-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0;
  flex: 0;
  justify-content: center;
  margin-top: 0.6rem;
}

.card-footer p {
  margin-bottom: 0;
  align-self: center;
  font-size: 1.3rem;
}

.product-title {
  font-size: 1.25rem;
}

.card-body {
  padding: 1rem;
}

@media only screen and (max-width: 800px) {
  .card:hover {
    transform: translateY(0px);
  }

  .myCard {
    width: 90%;
  }
}
