.CategoryContainer {
  margin-top: 1rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categories-button {
  text-align: center;
}

.categories-button button {
  margin-bottom: 1rem;
  background-color: rgb(77, 22, 1) !important;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-weight: 700;
  padding: 0.75rem 3rem;
}

@media only screen and (max-width: 800px) {
  .Row {
    gap: 1rem;
  }
}
