.search {
  margin-right: 1rem;
  width: 100%;
}

.searchInputs {
  display: flex;
  justify-content: center;
}

.search input {
  border: 0 !important;
  border-radius: 2px !important;
  font-size: 18px !important;
  padding: 15px !important;
  height: 30px !important;
  width: 300px !important;
  background: url('https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/search.png')
    no-repeat 8px 6px !important;
  background-color: #ffff !important;
  background-size: 24px 24px !important;
  background-position: 5px left 2px right !important;
  padding-left: 33px !important;
  padding-bottom: 20px !important;
}

#SearchProductsInput:focus {
  outline: none;
}

.dataResults {
  margin-top: 5px;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  width: 34%;
  z-index: 1;
}

.dataItem {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  color: black;
}

.dataItem:hover {
  background-color: lightgrey;
}

.dataResults a {
  color: black;
}

@media only screen and (max-width: 800px) {
  .search {
    width: 100%;
  }

  .searchInputs {
    justify-content: center;
  }

  .dataResults {
    width: 80%;
    margin-left: 1.5rem;
  }
}
